# poetry self add poetry-bumpversion

[build-system]
build-backend = "poetry.core.masonry.api"
requires = [
  "poetry-core",
]

[tool]
[tool.poetry]
authors = ["eggplants <w10776e8w@yahoo.co.jp>"]
classifiers = [
  "Development Status :: 3 - Alpha",
  "License :: OSI Approved :: MIT License",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3 :: Only",
]
description = "ShindanMaker (https://shindanmaker.com) CLI"
keywords = ["shindanmaker", "cli"]
license = "MIT"
name = "shindan_cli"
packages = [{include = "shindan_cli"}]
readme = "README.md"
repository = "https://github.com/eggplants/shindan-cli"
version = "1.3.0"

[tool.poetry.dependencies]
beautifulsoup4 = "^4.11.2"
lxml = "^4.9.2"
python = ">=3.7,<4"
requests = "^2.28.2"

[tool.poetry.group.dev.dependencies]
lxml-stubs = "^0.4.0"
mypy = ">=0.991,<1.4"
pre-commit = "^2.20.0"
pytest = "^7.2.2"
pytest-cov = "^4.0.0"
taskipy = "^1.10.3"
types-beautifulsoup4 = "^4.11.6.7"
types-requests = "^2.28.11.14"

[tool.poetry.scripts]
shindan = "shindan_cli.main:main"

[tool.black]
line-length = 120
target-version = ['py39']

[tool.ruff]
ignore = [
  "D203", # 1 blank line required before class docstring
  "D213", # Multi-line docstring summary should start at the second line
]
line-length = 120
select = ["ALL"]

[tool.ruff.mccabe]
max-complexity = 18

[tool.ruff.per-file-ignores]
"tests/*.py" = [
  "D",
  "S101", # Use of assert detected
]

[tool.isort]
profile = "black"

[tool.mypy]
pretty = true
python_version = "3.9"
show_error_codes = true
strict = true

[tool.poetry_bumpversion.file."shindan_cli/__init__.py"]

[tool.taskipy.tasks]
lint = "pre-commit run -a"
profile = "python -m cProfile"
setup = "poetry install && pre-commit install -t pre-commit -t pre-push"
test = "pytest --cov=shindan_cli --cov-report=term"
"test:ci" = "task test --cov-report=xml:cov.xml"
